<div class="container mt-5">
   <div class="row">
    <div class="col-md-12">
        <div class="card p-5">
            <h3 class="mb-3">Success!</h3>
            <h4 class="mb-2">The following royalty splits were successfully configured:</h4>
            <p>You have assigned yourself 34% of earnings from Day and Night<br>
                New collaborator zxcxzcxz@gmail.com assigned 66% of earnings from Day and Night ZXcxzcxz@gmail.com <br>has been invited to sign up to Collectiv, LLC to accept their royalties<br>
                Your collaborators have been sent an email to accept their invites.</p>
        </div>
        <div class="col-md-12 mt-4">
            <button mat-raised-button color="accent">Go To Dashboard</button>
            <button mat-raised-button color="accent" class="mx-4">Back to Splits </button>
        </div>
    </div>
   </div>
</div>
