 <app-artist-header></app-artist-header>
 <main class="main-content">
    <app-artist-sidebar></app-artist-sidebar>
    <router-outlet></router-outlet>
    <app-artist-footer></app-artist-footer>
 
</main>

 <div id="overlayer">
    <span class="loader-overlay">
        <div class="atbd-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
        </div>
    </span>
</div>
<div class="overlay-dark-sidebar"></div>