 
  
  <div id="main-wrapper" class="oxyy-login-register">
    <div class="hero-wrap d-flex align-items-center">
      <div class="hero-mask opacity-4 bg-secondary"></div>
      <div class="hero-bg hero-bg-scroll" style="background-image:url('assets/auth-assets/images/login-bg-3.jpg');"></div>
      <div class="hero-content w-100">
        <div class="container">
          <div class="row g-0 min-vh-100"> 
            <!-- Welcome Text
            ========================= -->
            <div class="col-md-6 d-flex flex-column">
              <div class="row g-0 my-auto">
                <div class="col-11 col-sm-10 col-lg-9 mx-auto text-center">
                  <div class="logo mt-5 mb-3"> <a routerLink="login"><img src="assets/auth-assets/images/logo-lg-light.png" alt="Collectiv"></a> </div>
                  <h1 class="text-5 fw-400 text-white mb-5">Looks like you're new here!</h1>
                  <h2 class="text-white line-height-3 mb-5">Join our group in few minutes! Sign up with your details to get started</h2>
                   </div>
              </div>
            </div>
            <!-- Welcome Text End --> 
            
            <!-- Register Form
            ========================= -->
            <div class="col-md-6 d-flex align-items-center py-5">
              <div class="container my-auto py-4 shadow-lg bg-white">
                <div class="row">
                  <div class="col-11 col-lg-10 mx-auto">
                    <h3 class="text-9 fw-600 text-center my-3">Create an Account</h3>
                    <p class="text-center mb-4">Already have an account? <a routerLink="../login"><u>Sign In</u></a></p>
                    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                      <div class="mb-3">
                        <label class="form-label text-dark fw-600" for="emailAddress">First Name</label>
                        <input type="text" formControlName="firstName" required placeholder="Enter Your First Name" class="form-control rounded-0">
                      </div>
                      <div class="mb-3">
                        <label class="form-label text-dark fw-600" for="emailAddress">Username</label>
                        <input type="email" class="form-control rounded-0" id="emailAddress" required placeholder="Enter Your Email">
                      </div>
                      <div class="mb-3">
                        <label class="form-label text-dark fw-600" for="loginPassword">Password</label>
                        <input type="password" class="form-control rounded-0" id="loginPassword" required placeholder="Enter Password">
                      </div>
                      <div class="d-grid my-4">
                          <button class="btn btn-dark rounded-0" type="submit">Create Account</button>
                      </div>
                      <p class="text-center text-muted text-2 mb-0">I agree to the <a routerLink="../tspp">Terms of Service and Privacy Policy</a></p>
                    </form>
                    
                    
                  </div>
                </div>
              </div>
            </div>
            <!-- Register Form End --> 
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <label>First Name:</label>
      <input type="text" formControlName="firstName">
      <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
        <div *ngIf="firstName.errors.required">
          First Name is required.
        </div>
        <div *ngIf="firstName.errors.minlength">
          First Name must be at least {{ firstName.errors.minlength.requiredLength }} characters long.
        </div>
      </div>
    </div>
  
    <div>
      <label>Last Name:</label>
      <input type="text" formControlName="lastName">
      <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
        <div *ngIf="lastName.errors.required">
          Last Name is required.
        </div>
        <div *ngIf="lastName.errors.minlength">
          Last Name must be at least {{ lastName.errors.minlength.requiredLength }} characters long.
        </div>
      </div>
    </div>
  
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email">
      <div *ngIf="email.errors && (email.dirty || email.touched)">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
        <div *ngIf="email.errors.email">
          Email must be a valid email address.
        </div>
      </div>
    </div>
  
    <div>
      <label>Password:</label>
      <input type="password" formControlName="password">
      <div *ngIf="password.errors && (password.dirty || password.touched)">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.minlength">
          Password must be at least {{ password.errors.minlength.requiredLength }} characters long.
        </div>
      </div>
    </div>
  <!-- Country Field -->
        <div>
            <label>Country:</label>
            <select formControlName="country">
                <option value="US">USA</option>
                <option value="AU">Canada</option>
                <!-- <option value="Mexico">Mexico</option> -->
            </select>
            
        </div>  

    <div>
      <button type="submit" [disabled]="!registrationForm.valid">Register</button>
    </div>
  </form>
  