<div class="container mt-5 mb-5">
    <section class="inner-pages-cont">
        <div class="container ">

            <div class="col-md-12 text-center"> <img src="../../../assets/auth-assets/images/logo-lg.png"></div>

             <div class="col-md-12 mb-5">
    
                 <p><strong>Terms of Service (as at 11/09/2020)</strong></p>
    
    <p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY. BY CLICKING 'I AGREE' YOU AGREE TO THESE TERMS OF SERVICE.</p>
    
    <p>These terms of service constitute an agreement by and between Collectiv, LLC (<strong>Us</strong>) and the holder of the Account (<strong>You</strong>) upon creation and verification of the Account.</p>
    
    <p>If You are entering into this agreement on behalf of a group, a company, or any other entity, then by accepting these terms, You represent and warrant to us that You are duly authorised to do so on their behalf and to bind them to this agreement (in which case, the term You includes all such people and entities).</p>
    
    <p>You warrant that, if You are entering into the agreement on Your own behalf:</p>
    
    <ul>
        <li>- that You are at least 18 years of age; or</li>
        <li>- if 'You' are younger than 18 years, You have the permission and approval of Your parent or guardian to enter into this agreement, and that either You or Your parents or guardian have obtained appropriate commercial and legal advice concerning Your rights and obligations under this agreement.</li>
    </ul>
    
    <p><strong>1. Creation of Account</strong></p>
    
    <ol>
        <li>To use the Service, You must create an Account by completing the 'Create Your Account' process.</li>
        <li>All information You provide during the 'Create Your Account' process must be accurate, complete and up-to-date, and You must promptly update Your information as required to ensure it remains accurate, complete and up-to-date.</li>
        <li>When You create Your Account, You will select Your own username and password, which will be personal to You. You are responsible for keeping Your username and password confidential and secure, and You should not, subject to clause 1.4, share these details with anyone else.</li>
        <li>Where 'You' refers to a group or a corporate or other entity, You may share Your username and password with other members of the group or with authorised representatives of the corporate or other entity, as applicable.</li>
        <li>We will assume that all activity with Your Account that takes place using Your username and password is undertaken by You and You will be responsible for all such activity. You must notify Us immediately if You believe Your Account may be subject to unauthorised access or use.</li>
        <li>We may refuse to allow any person to create an account or We may cancel or suspend any existing Account for any reason.</li>
    </ol>
    
    <p><strong>2. Release and Release Artwork</strong></p>
    
    <ol>
        <li>You may upload a Release and Release Artwork to the Service in the formats specified on the Website from time to time.</li>
        <li>Before uploading any Release or Release Artwork, You must ensure that You have obtained all necessary licences, permissions, approvals and consents (including moral rights consents and waivers) to enable Us to exercise all of the rights granted to Us for the purposes contemplated in this agreement from any person who:</li>
    </ol>
    
    <ul>
        <li>- has or may have any right, title or interest in the Release or the Release Artwork, including all owners or licensees of any Intellectual Property Rights or other rights in or to the Release or Release Artwork;</li>
        <li>- is a performer on the Release; or</li>
        <li>- is referred to in, or whose image, voice or likeness appears in, or who may otherwise be identified from, the Release or Release Artwork or about whom information is contained in the Release or Release Artwork.</li>
    </ul>
    
    <p><strong>3. Appointment</strong></p>
    
    <ol>
        <li>You appoint Us and Our service partners (including our licensees) as Your non-exclusive agent to:</li>
    </ol>
    
    <ul>
        <li>- distribute Your Releases and Release Artworks to Digital Services which will make Your Releases and Release Artworks available to their End Users for streaming or downloading by those End Users; and</li>
        <li>- collect all Income derived from that distribution.</li>
    </ul>
    
    <p><strong>4. Licence</strong></p>
    
    <ol>
        <li>You grant to Us an irrevocable, non-exclusive, sub-licensable, world-wide licence:</li>
    </ol>
    
    <ul>
        <li>- to reproduce and distribute Your Releases and Release Artworks to Digital Services which will make Your Releases and Release Artworks available to their End Users for streaming or downloading by those End Users; and</li>
        <li>- to reproduce, advertise and publicise the names, photographs and likenesses of any writers, producers, creators, performers, artists or other persons associated with Your Releases as provided by You.</li>
    </ul>
    
    <p><strong>5. Restrictions</strong></p>
    
    <ol>
        <li>You must not, and must not allow any person to:</li>
    </ol>
    
    <ul>
        <li>- access or use the Service or the Website for any purpose other than as permitted under this agreement;</li>
        <li>- de-compile, disassemble or otherwise reverse engineer the Service or the Website, or determine or attempt to determine any source code, algorithms, methods or techniques used or embodied in the Service or the Website;</li>
        <li>- copy any features, functions, graphics or interfaces of the Service or the Website;</li>
        <li>- use the Service or the Website in a manner which causes or may cause damage to them or to Our reputation or brand, or the reputation or brand of any of our service partners (including our licensees);</li>
        <li>- interfere with anyone elses use of the Service or the Website, or attempt to access the content uploaded by other users of the Service or the Website which is not available to You; or</li>
        <li>- access or use the Service or the Website for any unlawful purpose or in breach of any applicable law.</li>
    </ul>
    
    <p><strong>6. Upload Fee, Commission and payment</strong></p>
    
    <ul>
        <li>1. You agree that We are entitled to, and You must pay, the Upload Fee and the Commission for permitting You to use the Service.</li>
        <li>2. You authorise Us and Our service partners (including our licensees) to:</li>
        <li>- collect all Income derived from the distribution of Your Releases as contemplated under this agreement; and</li>
        <li>- deduct our Commission from that Income and distribute the Net Receipts to You (provided the minimum balance exceeds AU$10).</li>
        <li>3. You acknowledge and agree that Income may be derived from the distribution of Your Releases as contemplated in this agreement after the end of this agreement. Accordingly, notwithstanding the end of this agreement for any reason, the authority granted by You under clause 2 will survive until there is no more Income derived from the distribution of Your Releases as contemplated in this agreement.</li>
        <li>4. We reserve the right to discontinue the payment of Net Receipts to You if We have reason to suspect that a Release has been the subject of fraudulent, abnormal or infringing streaming or downloading activities (Fraudulent Activities). You agree to forfeit all Net Receipts revenues if they are reasonably considered by Us to be the result of Fraudulent Activities.</li>
    </ul>
    
    <p><strong>7. GST [FOR AUSTRALIAN ARTISTS ONLY]</strong></p>
    
    <ol>
        <li>All amounts which We are required to pay to You under this agreement are exclusive of GST. GST is payable to You only if You are GST registered with an ABN.</li>
    </ol>
    
    <p><strong>8. Warranties</strong></p>
    
    <ol>
        <li>Each party warrants that it has authority to enter into and to perform its obligations under this agreement.</li>
        <li>You represent and warrant to Us that:</li>
    </ol>
    
    <ul>
        <li>- You own all the Intellectual Property Rights in and to each Release and Release Artwork or You have the right to upload each Release and Release Artwork to the Service and to grant the rights and licences in clauses 3 and 4;</li>
        <li>- uploading each Release and Release Artwork to the Service, reproduction and distribution of each Release and Release Artwork, and the exercise by Us and Our service partners (including our licensees) of the rights granted by You under this agreement, will not infringe the Intellectual Property Rights or other rights of any person;</li>
        <li>- before uploading each Release and Release Artwork to the Service, You have obtained all necessary licences, permissions, approvals and consents required for the purposes of this agreement including performers; protection consents, moral rights waivers and consents;</li>
        <li>- You have not entered into any agreement, arrangement or understanding with any person, or granted any rights or licences to any person, which conflicts with the rights and licences granted to Us under this agreement;</li>
        <li>- no Release or Release Artwork contains anything which is defamatory, obscene, offensive, abusive, pornographic, threatening, or racist, which promotes any illegal act, or which breaches any law; and</li>
        <li>- all of the information provided to Us in relation to the subject matter of this agreement is true, correct and not misleading.</li>
    </ul>
    
    <p><strong>9. Liability</strong></p>
    
    <ul>
        <li>1. You indemnify Us and Our service partners (including Our licensees) (Indemnitees) from and against any damage, loss (including reasonable legal costs and expenses) or liability suffered or incurred by any Indemnitee arising from or in connection with:</li>
        <li>- any breach of this agreement by You;</li>
        <li>- any of the warranties given by You in this agreement being incorrect, misleading or inaccurate; or</li>
        <li>- any claim that the reproduction or distribution of a Release or the Release Artwork by an Indemnitee as contemplated by this agreement infringes the rights, including the Intellectual Property Rights, of any person (<strong>Third Party Claim</strong>).<br>
        &nbsp;</li>
        <li>2. We will notify You as soon as practicable, and in any event within 1 month, of any Third Party Claim made against Us or any other of the Indemnitees. Without prejudice to any other right that We may have regarding a Third Party Claim, We may by notice to You:</li>
        <li>- terminate this agreement;</li>
        <li>-suspend payment of Net Receipts to You until the Third Party Claim is resolved.</li>
        <li>&nbsp;</li>
        <li>3. To the extent permitted by law, neither We nor Our service partners (including our licensees) are liable to You for any infringement of Your Intellectual Property Rights in the Releases or Release Artworks by any person, including any Digital Service or any End User.</li>
        <li>&nbsp;</li>
        <li>4. If any goods or services are provided by Us to You as a consumer, Our liability to You for any failure to comply with a consumer guarantee under the ACL in respect of those goods or services is limited at Our option to either:</li>
        <li>- in the case of goods, replacing or repairing the goods or supplying equivalent goods, or paying for the cost of replacing or repairing the goods or of acquiring equivalent goods; and</li>
        <li>- in the case of services, resupplying the services, or paying the cost of resupplying the services.</li>
        <li>&nbsp;</li>
        <li>5. Subject to clause 9.4, to the extent permitted by law and whether in contract, tort (including negligence) or otherwise:</li>
        <li>- neither We nor Our service partners (including our licensees) are liable to You for any loss of profit, income or opportunity, or for any special, indirect or consequential loss or damage; and</li>
        <li>- Our aggregate liability (and that of our service partners (including our licensees)) to You is limited to the Commission received by Us in the calendar year in which the liability arose.</li>
        <li>&nbsp;</li>
        <li>6. Our liability for any loss or damage arising out of this agreement is reduced proportionally to the extent that an act or omission (deliberate or negligent) of Yours, or any other person acting on Your behalf, contributed to the loss or damage incurred.</li>
    </ul>
    
    <p><strong>10. Intellectual Property</strong></p>
    
    <ol>
        <li>Subject to Your compliance with this agreement, We grant to You a right to use the Service and the Website for the purposes contemplated in this agreement.</li>
        <li>You acknowledge and agree that all content on the Service and the Website is protected by copyright, trade marks, patents and/or other proprietary rights and laws, and is either Our property or has been licensed for use by Us. You will not contest, or assist any other person to contest, during the term of this agreement or any time afterwards, in any legal proceedings or otherwise, Our rights, or those of our licensors, to the Intellectual Property Rights in the Service or the Website.</li>
        <li>You may not copy, reproduce, modify, republish, upload, post, transmit, or distribute any part of the Service or the Website in any form or by any means.</li>
        <li>We respect the intellectual property of others, and We ask You to do the same. If You suspect or become aware of any unauthorised use of any part or whole of the Service or the Website, You will inform Us of full details of such unauthorised use as soon as reasonably practical. We may take any action as We consider appropriate.</li>
    </ol>
    
    <p><strong>11. Privacy</strong></p>
    
    <ol>
        <li>By registering to use the Service, and continuing to use the Service, You agree that We may use, disclose and handle Your personal information in accordance with Our privacy policy (as amended from time to time). Our privacy policy is deemed to form part of this agreement.</li>
        <li>Where You provide personal information of other individuals, You warrant that You have:</li>
    </ol>
    
    <ul>
        <li>- notified all individuals to whom the Personal Information relates that You will be providing their Personal Information to Us for the purposes of this agreement; and</li>
        <li>- have obtained all necessary consents for providing that personal information to Us for the purposes of this agreement.
        <ul>
            <li>We will provide some of Your personal information to our service partners in order to exercise Our rights and discharge Our obligations under this agreement. Our partners will handle Your personal information in accordance with the privacy policy available on the website at privacy_policy</li>
            <li>We will comply with the Privacy Act 1988 (Cth) and any other privacy law or requirement by which We are bound.</li>
        </ul>
        </li>
    </ul>
    
    <p><strong>12. Term and termination</strong></p>
    
    <ol>
        <li>This agreement will commence upon the creation and verification of Your Account and will continue:</li>
    </ol>
    
    <ul>
        <li>- until terminated by You or Us giving the other 30 days; notice; or</li>
        <li>- unless otherwise terminated by You or Us in accordance with this agreement.
        <ul>
            <li>Without prejudice to any other rights that a party may have to terminate this agreement, a party (Terminating Party) may, by notice to the other party, terminate this agreement immediately if:</li>
        </ul>
        </li>
        <li>- the other party is in breach of this agreement, and does not remedy that breach within 1 week after notice from the Terminating Party specifying the breach and asking the other party to remedy it; or</li>
        <li>- an Insolvency Event occurs in respect of the other party.
        <ul>
            <li>Without prejudice to any other rights that We may have to terminate this agreement, We may, by notice to You, terminate this agreement immediately if:</li>
        </ul>
        </li>
        <li>- You are in breach of Your obligations under clause 2.2 or clause 5.1;</li>
        <li>- We, acting reasonably, have reason to suspect that You have been subjected to and/or involved in Fraudulent Activities; or</li>
        <li>- a warranty given by You under clause 8.2 is false, misleading or inaccurate.
        <ul>
            <li>The termination of this agreement is without prejudice to any rights which have accrued to a party before the date of termination.</li>
            <li>Within 30 days after termination of this agreement, We will request that the Digital Services remove Your Releases and Release Artwork from their services.</li>
            <li>The following clauses survive termination or expiry of this agreement: 1(b), 5.1, 6.3, 9, 10.2, 10.3, 12.4, 12.5, 12.6, 13 and 14, together with any other clauses which expressly or by their nature are intended to survive termination or expiry of this agreement.</li>
        </ul>
        </li>
    </ul>
    
    <p><strong>13. General terms</strong></p>
    
    <ol>
        <li>We will not be liable for any delay or failure to perform any obligation under this agreement where that delay or failure is the result of any cause outside Our reasonable control.</li>
        <li>You understand that We use third party vendors, service providers and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service and the Website.</li>
        <li>Any failure of Us to enforce or exercise a right provided in these terms is not a waiver of that right.</li>
        <li>Should any term of service be found invalid or unenforceable, the remaining terms shall still apply.</li>
        <li>These terms of service together with Our privacy policy constitutes the entire agreement between You and Us and supersedes any and all previous agreements, written or oral, between You and Us.</li>
        <li>We may send notices under this agreement to Your contacts listed in the Account. You may send notices under this agreement to Us at community@collectivmedia.io. Notices sent by email will be deemed to be received at the time they are sent unless the sender receives an automated notification that the email was not delivered..</li>
        <li>We may amend this agreement from time to time by posting an amended version on the Website and sending You notice of those amendments. Such amendments will be deemed accepted and become effective 30 days after such notice (Amendment Date) unless You terminate this agreement by notice to Us at any time before the Amendment Date. Your continued use of the Service after the Amendment Date will confirm Your consent to that amendment.</li>
        <li>We enter into this agreement on Our own behalf and hold the benefit of this agreement as trustee for the Indemnitees; and the provisions of this agreement may be enforced by Us on behalf of and for the benefit of the Indemnitees.</li>
        <li>You may not assign or novate this agreement or any of Your rights or obligations under it without Our prior express written consent. We may assign or novate this agreement or any of Our rights or obligations under it without Your prior express written consent.</li>
        <li>Any dispute arising in connection with this agreement which cannot be settled by negotiation between the parties or their representatives must be submitted to mediation in accordance with, and subject to, the then current Mediation Rules adopted by the Resolution Institute (or any replacement body). A party may not commence proceedings in respect of the dispute unless the dispute is not settled by mediation within 1 month of submission to mediation, or such other time as the parties agree. This clause 11 does not apply if either party commences legal proceedings for urgent interlocutory relief.</li>
    </ol>
    
    <p><strong>14. Definitions and interpretation</strong></p>
    
    <ol>
        <li>Where commencing with a capital letter:</li>
    </ol>
    
    <p><strong>Account</strong> means the account opened by You through Our account creation webpage or similar webpage on the Website in accordance with clause 1 which, once opened and verified, will permit You to use the Service.</p>
    
    <p><strong>Commission</strong> means, in respect of the Income received by Us, that percentage of the Income as specified from time to time on the Website deducted by Us for permitting You to use the Service.</p>
    
    <p><strong>Digital Services</strong> means digital music download and streaming services and stores within Our network which make Your Releases available to their End Users, as selected by You when You upload a Release to the Service.</p>
    
    <p><strong>End User</strong> means, in respect of a Release, any person who accesses a Release from a Digital Service in an on-line format for their own use.</p>
    
    <p><strong>Fraudulent Activities</strong> has the meaning given to that term in clause 6.4.</p>
    
    <p><strong>Income </strong>means all income derived from the distribution of Your Releases as contemplated under this agreement (excluding any GST or other taxes).</p>
    
    <p><strong>Indemnitees </strong>has the meaning given to that term in clause 9.1.</p>
    
    <p><strong>Insolvency Event </strong>means that a party:</p>
    
    <ul>
        <li>becomes subject to any form of insolvency or bankruptcy administration;</li>
        <li>ceases, or threatens to cease, conducting business in the normal manner;</li>
        <li>enters into a scheme, composition or arrangement with any of its creditors; or</li>
        <li>is (or states that it is) insolvent (as defined in the <em>Corporations Act 2001</em> (Cth),</li>
    </ul>
    
    <p>or something having a substantially similar effect to any of the things described in paragraphs (a) to (d) happens in connection with that party under the law of any jurisdiction.</p>
    
    <p><strong>Intellectual Property Rights </strong>means all patents, patent applications, trade marks, designs, copyright, know-how, trade secrets, and all other intellectual property rights, whether or not now existing and whether or not registered or registrable, and includes any right to apply for the registration of such rights and all renewals and extensions.</p>
    
    <p><strong>Net Receipts</strong> means the balance of all Income received by Us after deduction of any:</p>
    
    <ul>
        <li>Commission; and</li>
        <li>expenses, bank and similar transfer fees, currency conversion costs and charges, transaction taxes and other deductions.</li>
    </ul>
    
    <p><strong>Privacy Policy</strong> means Our privacy policy, available at https://web.collectivmedia.io/privacy.php, as amended from time to time.</p>
    
    <p><strong>Release</strong> means any musical sound recording (and the underlying musical and literary works embodied in the sound recording) successfully uploaded to the Service by You.</p>
    
    <p><strong>Release Artwork</strong> means the artwork for a Release (and the underlying artistic works, literary works, cinematograph films and photographs) uploaded by You to the Service.</p>
    
    <p><strong>Service</strong> means Our digital music distribution service for distribution of musical sound recordings which has the features described on the Website, as varied by Us from time to time.</p>
    
    <p><strong>Upload Fee</strong> means that fee as specified from time to time on the Website payable Us when You upload a Release to the Service.</p>
    
    <p><strong>Website</strong> means Our website at https://web.collectivmedia.io</p>
    
    <ul>
        <li>2. Unless the context otherwise requires:</li>
        <li>the singular includes the plural and vice versa;</li>
        <li>if a word is defined, another part of speech has a corresponding meaning;</li>
        <li>a reference to:
        <ul>
            <li>a person includes a company, trust, partnership, joint venture, association, body corporate or governmental agency; and</li>
            <li>any document or agreement includes that document or agreement as amended, novated or replaced from time to time.</li>
        </ul>
        </li>
    </ul>   
             
                
            </div>
         </div>
    </section>
</div>